.font-notoSans {
    font-family: 'Noto Sans TC', sans-serif;
}
.font-Shrikhand{
    font-family: 'Shrikhand', cursive;
}
.font-sairaextracondensed{
    font-family: 'Saira Extra Condensed',sans-serif;
}