<footer class="footer py-lg-52 py-40">
    <div class="container">
        <div class="d-flex flex-lg-row flex-column align-items-lg-center justify-content-lg-between align-items-start">
            <div class="logo">
                <h2 class="font-Shrikhand"><a href="index.html" class="text-dark">ALPHABOX+</a></h2>
                <h6 class="font-notoSans d-none d-lg-block">Copyright © 2023 Hexschool.</h6>
            </div>
            <img src="../assets/images/emergency.svg" alt="">
            <ul class="d-flex flex-lg-row flex-column fs-16 gap-lg-8 gap-2 font-notoSans">
                <li><a href="#" class="text-dark ">關於我們</a></li>
                <li><a href="#" class="text-dark ">產品資訊</a></li>
                <li><a href="#" class="text-dark ">常見問題</a></li>
                <li><a href="#" class="text-dark ">隱私政策</a></li>
            </ul>
            <h6 class="font-notoSans d-lg-none d-block">Copyright © 2023 Hexschool.</h6>
        </div>
    </div>
</footer>