<nav class="navbar navbar-expand-lg navbar-light fixed-top bg-primary my-0 py-0 pb-0">
    <div class="container">
    <h1 class="mb-0">
      <a class="navbar-brand font-Shrikhand fs-lg-32 fs-24 me-28" href="index.html">ALPHABOX+</a>
    </h1>
      <button class="navbar-toggler navbar-light" type="button" data-bs-toggle="collapse" 
      data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" 
      aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon text-danger"></span>
      </button>

      <div class="collapse navbar-collapse px-4" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 font-notoSans d-flex flex-lg-row flex-column align-items-center justify-content-center">
            <li class="nav-item"><a class="nav-link" aria-current="page" href="#">產品</a></li>
            <li class="nav-item"><a class="nav-link" href="#">關於我們</a></li>
            <li class="nav-item dropdown"><a class="nav-link" href="#" >最新消息</a></li>
            <li class="nav-item"><a class="nav-link" href="faq.html" >FAQ</a></li>
            <li class="nav-item"><a class="nav-link" href="#" >聯絡我們</a></li>
        </ul>

        <ul class="navbar-nav font-notoSans py-28 d-flex flex-lg-row flex-column align-items-center justify-content-center">
            <li class="nav-item"><a class="nav-link text-nowrap" href="#">註冊</a></li>
            <li class="nav-item"><a class="nav-link text-nowrap" href="#">登入</a></li>
            <li class="nav-item ms-lg-2">
            <a href="#" class="nav-link bg-light py-8 px-16 d-flex align-items-center justify-content-center rounded-1">
                <img src="../assets/images/point_scan.svg" alt="point_scan" srcset="">
                <span class="text-dark">訂閱</span>
            </a>
            </li>
        </ul>
    
    </div>
    </div>
</nav>